/cmake-build-debug/

# IDEA
# ----
.idea
!/.idea
/.idea/*
!/.idea/codeStyles
!/.idea/inspectionProfiles
!/.idea/runConfigurations
*/**/.idea
.shelf
*/**/*.iml
*/**/*.ipr
*/**/*.iws
/*.iml
/*.ipr
/*.iws